<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
    <img src="assets/img/logoFooter.png" alt="Logo" width="250px" height="200px" justify-content="center" style="margin-left: 10px;">
    <a href="#" class="nav-link p-0 text-body-secondary" style="margin-left: 5px;">Avenida Sarmiento 123<br>Corrientes Capital,Argentina</a>
  </div>

  <div class="col mb-3">
    <h5>Atencion</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Centro de atencion</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terminos y condiciones</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Preguntas Frecuentes</a></li>
      <hr>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">contacto&#64;colitasfelices.com.ar</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Rede Sociales</h5>
    <div class="redes-sociales">
      <a href="#" class="instagram"><img [src]="logoInstagram" alt="Instagram" width="30px" height="30px"></a>
      <a href="#" class="facebook"><img [src]="logoFacebook" alt="Facebook" width="30px" height="30px"></a>
      <a href="#" class="twitter"><img [src]="logoTwitter" alt="Twitter" width="30px" height="30px"></a>
    </div>
  </div>

  <div class="col mb-3">
    <h5>Politica</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Politica de Privacidad</a></li>
    </ul>
  </div>
  <div class="col mb-3">
    <h5>Institucional</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Fundacion</a></li>
    </ul>
  </div>
</footer>

