<app-header></app-header>
<app-navbar></app-navbar>
<app-encabezado></app-encabezado>
<h3>Mascotas en Adopcion</h3>
<div class="mascotas-container">
  <app-mascotas *ngFor="let mascota of mascotas" [imagenUrl]="mascota.imagenUrl" [nombre]="mascota.nombre" [edad]="mascota.edad" [caracteristicas]="mascota.caracteristicas"></app-mascotas>
</div>
<h3>Auspiciantes</h3>
<div class="auspiciantes-container">
  <app-auspiciantes *ngFor="let auspiciante of auspiciantes" [auspicianteUrl]="auspiciante.auspicianteUrl" [nombre_auspiciante]="auspiciante.nombre_auspiciante"></app-auspiciantes>
</div>
<app-footer></app-footer>
