<!-- <div class="container">
  <div class="image">
    <img src="assets/img/portada.png" alt="">
  </div>
  <div class="card">
    <h2>Fundacion Colitas Felices</h2>
    <p>Aqui encontrala de todo para su mascota <br>comida,accesorios, produtos de suma <br> calidad y mucho mas!</p>
    <button class="btn">Conoce mas...</button>
  </div>
  </div> -->
  <main class="container-fluid container-principal">
    <div
      class="p-4 p-md-5 rounded text-body-emphasis d-flex flex-column flex-lg-row align-items-center justify-content-center header-principal" style="background-image: url('assets/img/portada.png')"
    >
      <div
        class="col-lg-6 text-white p-4 m-4 rounded contenedor-header"
      >
        <h1 class="display-4 titulo1-1">
          Fundación Colitas Felices
        </h1>
        <p class="lead my-3 texto1-1">
          Aqui você encontra de tudo para seu pet comida, acessórios, produtos de
          saúde e muito mais!
        </p>
        <p class="lead mb-0 text-center">
          <a
            href="#"
            class=" btn btn-light boton1-1"
          >
            Conoce más ...
          </a>
        </p>
      </div>


      <div class="mt-4 mt-lg-0">
        <img
        src="assets/img/animales.png"
        class="img-fluid"
        style="max-width: 100%; height: auto;"
        alt="Colitas felices"

        />
      </div>
    </div>
  </main>

